@import './styles/design-tokens.css';
@import 'leaflet/dist/leaflet.css';


/* Global resets and utility classes */
a {
  color: var(--tc-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
